body {
    font-family: 'Dosis', sans-serif;
    background-image: url(bg.jpeg);
    background-size: cover;
 }
 
 h1 {
    font-size: 3rem;
    line-height: 1.5;
    color: white;
 }

h3 {
    font-weight: bold;
    color: white;
}
h2{
    color:black;
}
.log{
    width: 382px;  
    overflow: hidden;  
    margin: auto;  
    margin: 20 0 0 450px;  
    padding: 80px;  
}

.navbar-custom {
    background-color: #68B0AB;
}
.nav-item{
    font-size: 1.25rem;
}
.navbar {
    padding: 1rem;
    
}
.bl{
    padding: 5%;
    margin: 3%;
}
.p1,.p2{
    font-size: 1.5rem;

}

.b1{
    width: 70%;
}

.b3{
    height: auto;
    width:75%;
}
.ref{
    text-align: center;
}