body {
    font-family: 'Dosis', sans-serif;
    text-align: center;
    background-image: url(bg.jpeg);
    background-size: cover;
 }
 
 h1 {
    font-size: 3rem;
    line-height: 1.5;
    color: white;
 }

h3 {
    font-weight: bold;
    color: white;
}

.container{
    padding: 3%;
}

.spl{
    padding: 1%;
    font-size: 2rem;
    color: #FF8303;
}

.img{
    font-size: 2rem;
    color: #FF8303;

}

.navbar {
    padding: 1rem;
    
}

.service{
    color: white;
}

.row{
    padding: 3%;
}




/* Modify the backgorund color */
.navbar-custom {
    background-color: #68B0AB;
}
.nav-item{
    font-size: 1.25rem;
}

.loc{
    font-size: 3rem;
    padding: 2%;

}
